# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais (Essencial para o seu PEP 668)
.venv/
venv/
ENV/
env/
bin/
lib/

# Variáveis de Ambiente e Segredos (CRÍTICO!)
.env
.env.local
.env.dev
.env.test
.env.prod

# IDEs e Editores de Código
.vscode/
.idea/
*.swp
*.swo

# Logs e Temporários do Streamlit
.streamlit/
logs/
*.log

# Sistema Operacional
.DS_Store
Thumbs.db